:root {
    --header-color: rgb(98, 54, 141);
    --header-text-color: white;
}

header * {
    background-color: var(--header-color);
    color: white;
}

header {
    background-color: var(--header-color);
    text-decoration: double;
    display: flex;
    align-items: center;
}

header h1 {
    text-size-adjust: 50px;
    background-color: var(--header-color);
    margin-right: auto;
}

nav {
    background-color: var(--header-color);
    margin-left: auto;
}

nav ul {
    background-color: var(--header-color);
    display: flex;
    padding: 0 20px;
    list-style-type: none;
}

nav li {
    background-color: var(--header-color);
    margin-right: 20px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.about-me {
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
}

.about-me aside h2 {
    transform: rotate(-90deg);
}


.about-me img {
    max-width: 200%;
    margin-right: 20px;
}

.about-me-content {
    flex: 1;
}

.portfolio {
    background-color: rgb(181, 153, 207);
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-between;
}

.portfolio aside {
    background-color: green;
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #ea3939;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 200px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-content {
    background-color: blue;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.card-header, .card-body {
    background-color: transparent;
    margin: 0;
    position: center;
}

.card-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 600px) {
    .card {
        flex-basis: calc(100%-20px);
    }
}