:root {
    --header-color: blueviolet;
    --header-text-color: white;
}

* {
    background-color:darkslategrey;
    color:steelblue;
}

header * {
    background-color: var(--header-color);
    color: white;
}

header {
    background-color: var(--header-color);
    text-decoration: double;
    display: flex;
    align-items: center;
}

header > h1 {
    text-size-adjust: 50px;
    background-color: var(--header-color);
    margin-right: auto;
}

nav {
    background-color: var(--header-color);
    margin-left: auto;
}

nav ul {
    background-color: var(--header-color);
    display: flex;
    padding: 0 20px;
    list-style-type: none;
}

nav li {
    background-color: var(--header-color);
    margin-right: 20px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.about-me {
    display: flex;
    align-items: center;
}

.about-me aside {
    margin: 20px;
}

.about-me aside h2 {
    transform: rotate(-90deg);
}


.about-me img {
    max-width: 100%;
    margin-right: 20px;
}

.about-me-content {
    flex: 1;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    margin: 20px;
}